:root{
    --bagroundCOLOR:#1C5550;
    --addtocard1:#DFD9D9; 
    --addtocardbacground: #C3B97F;
    --textcolor:#DFD9D9;
    --fontsize1:14px;
    --fontsize2:16px;
    --fontsize3:18px;
    --fontsize4:24px;
}